{% extends 'layout/_extBaseCat.html.twig' %}

{% block title %}E-Shop - Home{% endblock %}

{% block content %}
    <div class=''>
        <header>
            <h1 class='display-4 text-center'>Welcome {{ app.user.email }} ! </h1>
            {% if is_granted('ROLE_EMPLOYEE') %}
            <h4 class='text-center text-info'>Shop worker</h4>
            {% endif %}
        </header>
        <hr class='w-100' />
        <section class='text-center'>
            {% if is_granted('ROLE_EMPLOYEE') %}
            <p>
            Check <a href='{{ path('manage_orders') }}'>user orders</a> or <a href='{{ path('addcat') }}'>add new category</a> with products.
            </p>
            {% endif %}
            {% if is_granted('ROLE_CLIENT') %}
            <p>Check a new interesting products by browsing a categories on the left. Fill your <a href='{{ path('cart') }}'>cart</a> and make a order ! </p>
            <p>Don't forget about checking your <a href='{{ path('orders') }}'>orders</a> status and also look at <a href='{{ path('bestsellers') }}'>bestselling</a> products !</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
