{% extends 'base.html.twig' %}

{% block title %}E-Shop - {{ cname }}{% endblock %}

{% block body %}
<style>
    .title-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class='row'>

    <div class='col-sm-2'>
          {{ render_esi(controller(
        'App\\Controller\\ProductController::getCategories')) }}
    </div>
    <div class='col-sm-10'>
        <div class="586742-wrapper">
        <header>
            <h1>{{ cname }}</h1>
        </header>
        <div class='conatiner overflow-hidden'>
            <div class="row row-cols-1 row-cols-md-3 g-6">
            {% for p in products %}
                <div class="col pb-3 d-flex flex-column text-center">
                    <div class='card h-100 w-100 border-dark' >
                    <img src="{{ asset('img/products/' ~ p.imageFileName)}}" class="card-img-top" alt="...">
                        <div class='card-body'>
                            <h3 class='card-title'>{{ p.name }}</h3>
                            <a href="{{ path('product', {id: p.id}) }}" class='stretched-link'></a>
                        </div>
                        <div class='card-footer'>{{ p.price }}$</div>
                    </div>
                    <a class='btn btn-outline-secondary'>Add to cart</a>
                </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
