{% extends 'layout/_extBaseCat.html.twig' %}

{% block title %}E-Shop - {{ prod.name }}{% endblock %}

{% block content %}
<style>
    .title-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>


    <div>
            <div>
                    <img src="{{ asset('img/products/' ~ prod.imageFileName)}}"  alt="...">
            </div>
            <div>
                    <div class='text-center mb-5'>
                        <h1>{{ prod.name }}</h1>
                        <h4 class='text-muted'> {{ prod.price }}$ </h1>
                        <a href='#' class='btn btn-outline-dark mt-3'>Add to cart</a>
                    </div>
                    <div>
                        <h4 class='text-center'>Description</h4>
                        <p> {{ prod.Description }}</p>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
